*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content-box-component {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
body {
    min-width: 1920px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 21px;
    font-size: 14px;
    color: #000000;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.main-header{
  margin-top: -25px;
  position: relative;
  min-height: 1079px;
  width: 1920px;
  background-color: gray;
  background-image: url("../img/index/slide2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.menu-tab {
  position: absolute;
  top: 46px;
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 72px;
  min-height: 63px;
  background-color: white;
  align-items: center;
  cursor: pointer;
}
.menu-line {
  width: 32px;
  height: 3px;
  background-color: black;
  margin-top: 5px;
}
.menu-line:nth-child(1) {
  margin-top: 22px;
}
.main-header h1 {
  margin: 0;
  font-size: 160px;
  line-height: 160px;
  font-weight: normal;
  color: #fffefe;
  padding-top: 304px;
  padding-left: 320px;
  padding-right: 600px;
  padding-bottom: 212px;
}
.header-list {
  width: 1281px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding-left: 320px;
  margin: 0;
}
.header-list h2 {
  font-size: 12px;
  font-weight: bold;
  color: #fffefe;
  text-transform: uppercase;
}
.header-list p,
.header-list a {
  font-size: 18px;
  font-weight: normal;
  color: #fffefe;
}
.header-list li:last-child {
  border-bottom: 1px solid  #fffefe;
}
.about {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 1079px;
  width: 1920px;
  background-color: #ffffff;
}
.visit-site {
  position: absolute;
  background-color: #000000;
  width: 60px;
  height: 1px;
  left: 350px;
  bottom: 150px;
}
.about-1 a {
  padding-left: 150px;
}
.about-1,
.about-2 {
   display: flex;
   flex-direction: column;
   min-height: 579px;
   width: 800px;

   }
.about-1 {
    padding-left: 320px;
}
.about-2 {
    padding-right: 320px;
    padding-top: 200px;
}
.about-1 h2{
  font-size: 80px;
  line-height: 100px;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 50px;
}
.about-1 h3 {
  font-size: 33px;
  line-height: 33px;
  margin: 0;
  padding-bottom: 430px;
}
.about-1 a {
  text-decoration: none;
}
.ragby-ph {
  display: flex;
  width: 1920px;
  min-height: 1987px;
}
.for-logo-gt {
  width: 756px;
  height: 568px;
  background-color: #00254c;
}
.ph-line-one {
  display: flex;
  flex-direction: column;
  width: 756px;
  min-height: 1987px;
}
.ph-line-two {
  display: flex;
  flex-direction: column;
  width: 1164px;
  min-height: 1987px;
}
.typography-section {
  width: 1920px;
  min-height: 1308px;
  background-color: #212025;
  color: #ffffff;
}
.orange {
  background-color: #b19142;
  width: 547px;
  min-height: 358px;
}
.blue {
  background-color: #00254c;
  width: 258px;
  min-height: 358px;
}
.yellow {
  background-color: #eeb211;
  width: 258px;
  min-height: 358px;
}
.campaign-totals {
  min-height: 579px;
  width: 1920px;
  background-color: white;
}
.totals-table {
  min-height: 379px;
  width: 600px;
  border: 2px solid gray;
  border-radius: 5% 5%;
}

footer {
  min-height: 279px;
  width: 1920px;
  background-color: white;

}
footer h2 {
  padding-left: 1000px;
  margin: 0;
  padding-top: 100px;
}
footer a{
  padding-left: 1050px;
  color: black;
}
